.clock{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    text-transform: uppercase;
    color: #fff;
}
.clock > .time{
    font-size: 16px;
}
.clock > .time > .value{
    font-size: 70px;
    font-weight: bold;
}
@media (max-width: 700px){
.clock{
    grid-template-columns: repeat(2,1fr);

}}
@media (max-width: 460px){
.clock{
    grid-template-columns: 1fr;

}}