.mouse{
    font-size: 20px;
    width: 2em;
    height: 3em;
    border: 2px solid #fff;
    border-radius: 5em;
    position: relative;
}
.mouse::before{
    display: block;
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2em;
    height: 0.4em;
    background-color: #fff;
    border-radius: 0.1em;
    animation-name: scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}
.mouse:hover::before{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        top: 20%;
    }
    50%{
        top: 20%;
    }
    100%{
        top: 70%;
    }
}
