/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/button.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style goes here */
.part1 {
    width: 100%;
    height: 800px;
    background-image: url(../../img/background.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    text-align: center;
}
.insidehero{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.colorlogo {
    width: 40px;
    height: 40px;
    margin-top: 20px;

}
.herotext{
    width: 50%;
}
.bannerh1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.bannerp{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}
.clock {
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
}
.inputfield{
    opacity: 60%;
    width: 20%;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
