/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/button.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style goes here */
/* HERO - start */
section.bg-main{
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.hero > .logo{
    height: 60px;
}
.hero > .title{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.hero > .description{
    font-size: 20px;
}
/* HERO - end */

/* MAIN - start */
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.right-column{
    width: 40%;
}
.section-title{
    text-transform: uppercase;
    font-size: 20px;
}
.section-description{
    font-size: 18px;
    color: #777;
}
.section-description > a{
    text-decoration: none;
    color: red;
}
.section-description > a:hover{
    text-decoration: underline;

}
/* MAIN - end */

/* FOOTER - start */
footer.container {
    padding-top: 0;
}

.socials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
    gap: 20px;
}
.socials > a{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    transition: all;
}
.socials > a:hover{
    background-color: #fff;
    color: var(--main-color);
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fffa;
    font-size: 18px;
    line-height: 1.6;
}
.footer-bottom > .logo{
    height: 60px;
    margin: 40px 0;
}
.footer-bottom > .futeriukai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
footer  a{
    color: white;
    text-decoration: none;
}
footer hr{
    max-height: 20%;
    margin: 0;
    color: #fffa;
}
.futeriukai > *{
    position: relative;
}

.futeriukai > *::after{
    content: "";
    width: 2px;
    height: 18px;
    background-color: #fff;
    position: absolute;
    top:50%;
    right: -10px;
    transform: translate(50%, -50%);
}
.futeriukai >*:last-child::after{
    display: none;
}
/* FOOTER - end */