/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/button.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* Custom style goes here */
/* HERO - start */
section.bg-main{
    background-image: url(../../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.hero > .logo{
    height: 60px;
}
.hero > .title{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}
.hero > .description{
    font-size: 20px;
}
/* HERO - end */

/* MAIN - start */
/* MAIN - end */

/* FOOTER - start */
/* FOOTER - end */

